services:
  # 1. Frontend Service
  # 1. Frontend Service
  frontend:
    image: ${DOCKER_USERNAME}/cukee-frontend:${FRONTEND_TAG}
    restart: always
    expose:
      - "3000"

  # 2. Backend Service
  backend:
    image: ${DOCKER_USERNAME}/cukee-backend:${BACKEND_TAG}
    restart: always
    expose:
      - "8000" 
    env_file:
      - ./backend/.env  # 백엔드용 환경변수 (DB 접속 정보 등)

  # 3. Nginx (Web Server & Reverse Proxy)
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"    
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - frontend
      - backend

  # 4. Certbot (SSL 인증서 발급/갱신)
  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    # 인증서 자동 갱신을 위한 커맨드 (12시간마다 체크)
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"