services:
  # 1. Frontend Service
  frontend:
    image: ${DOCKER_USERNAME}/cukee-frontend:${FRONTEND_TAG}
    restart: always
    expose:
      - "3000"

  # 2. Backend Service
  backend:
    image: ${DOCKER_USERNAME}/cukee-backend:${BACKEND_TAG}
    restart: always
    expose:
      - "8000"
    env_file:
      - ./backend/.env
    depends_on:
      - redis

  # 3. Redis Service
  redis:
    image: ${DOCKER_USERNAME}/cukee-redis:${REDIS_TAG}
    container_name: cukee-redis
    restart: always
    expose:
      - "6379"
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data

  # 4. Nginx (Web Server & Reverse Proxy)
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"    
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - frontend
      - backend

  # 8. Node Exporter (System Agent)
  node-exporter:
    image: prom/node-exporter
    container_name: node-exporter
    restart: unless-stopped
    command:
      - '--path.rootfs=/host'
    network_mode: host
    pid: host
    volumes:
      - '/:/host:ro,rslave'

volumes:
  redis_data:
