/* extension/src/index.css */

/* 1. 폰트 및 초기화 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

/* CSS 변수 정의 */
:root {
  --primary: #ff6b6b;
  --white: #ffffff;
  /* ... 나머지 변수들 그대로 유지 ... */
  --gray-900: #111827;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Pretendard', sans-serif;
  background-color: #EDE6DD;
  overflow: auto; 
  /* min-width: 1500px; */
}


.layout-center-wrapper {
    width: 1500px;
    margin: 0 auto;
    padding-left: 180px;
    position: relative;
}