/* apps/web/app/components/exhibition/ActionBottomBar.module.css */
.container {
  position: relative;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: #373431;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.narrowBar {
  position: relative;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #373431;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promptWrapper {
  position: relative;
  width: calc(100% - 50px); /* 전체 화면에서 양옆 10px씩(총 20px) 뺌 */
  max-width: 1000px;        /* 하지만 1000px보다는 커지지 않게 제한 */
  height: 64px;
  background-color: #FEF8F2;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  padding: 0 12px 0 32px;
  margin-bottom: 14px;
}

.promptWrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 3px; 
    /* [핵심 3: 테두리 및 배경] 배경은 투명, 테두리만 남김 */
    background-color: transparent; /* 배경색은 투명 */
    border: 2px solid #FEF8F2; /* 원하는 두께와 색상의 테두리 설정 */

    /* 부모와 동일한 둥근 모양 */
    border-radius: 9999px;
    pointer-events: none;
}
.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 18px;
  color: #373431;
  background: transparent;
}
.input::placeholder { color: #ccc; }

.submitBtn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #8F8784;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s;
    /* z-index: 100; */
}
.submitBtn:hover { background-color: #554f4d; }
.actions {
  display: flex;
  gap: 50px;
}

.chip {
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    color: rgba(255,255,255,0.9);
    padding: 10px 100px;
    border-radius: 9999px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s;
    /* white-space: nowrap;
    flex-shrink: 0; */

}
.chip:hover {
    background-color: #EDE6DD;
    border-color: #fff;
    color: #373431;
}
@media (max-width: 1000px) {
  .chip {
    display: none; /* 칩 숨김 */
  }
  
  .actions {
    display: none; /* 칩을 감싸는 컨테이너도 함께 숨김 (여백 제거 위해) */
  }
  .promptWrapper, .promptWrapper::after{
    border-radius: 25px;
  }
}