.container {
  width: 100%;
  max-width: 1400px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 0 20px;
  box-sizing: border-box;
}

.charWrapper {
  position: relative;
  height: auto;
  margin-right: 10px;
}

.charImg {
  width: 250px;
  display: block;
}

.bubbleWrapper {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.likeInfo {
  font-size: 18px;
  color: #373431;
  font-weight: 600;
  margin-bottom: 15px;
  margin-left: 10px;
  letter-spacing: -0.03em;

  /* Flexbox 추가 */
  display: flex;
  align-items: center;
  gap: 8px;
  /* 아이콘과 텍스트 사이 간격 */
}

.bubble {
  position: relative;
  background-color: #ffffff;
  color: #373431;
  padding: 22px 50px;
  border-radius: 30px 30px 30px 0px;
  /* font-size: 23px; */
  letter-spacing: -0.03em;
  line-height: 1.5;
  font-weight: 500;
  width: fit-content;
  /* 수정: 말풍선 최대 너비 700px   */
  max-width: 700px;

  /* 텍스트가 길어지면 줄바꿈 처리 */
  word-break: keep-all;
  overflow-wrap: break-word;

  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
}

.bubble::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  border-radius: 30px 30px 30px 0px;
  top: -6px;
  left: 8px;
}

@media screen and (max-height: 900px) {
  .container {
    height: 150px;
  }

  .charImg {
    width: 220px;
  }
}

@media (max-height: 850px) {
  .container {
    height: 120px;
  }

  .charImg {
    width: 190px;
  }

  .bubbleWrapper {
    transform: scale(0.9);
  }
}