.container {
  width: 100%;
  max-width: 1400px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 0 20px;
  box-sizing: border-box;
}

.charWrapper {
  position: relative;
  height: auto;
  margin-right: 10px;
}

.charImg {
  width: 280px;
  display: block;
}

.bubbleWrapper {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-30px);
}

.likeInfo {
  font-size: 18px;
  color: #373431;
  font-weight: 600;
  margin-bottom: 15px;
  margin-left: 10px;
  letter-spacing: -0.03em;
}

.bubble {
  position: relative;
  background-color: #ffffff;
  color: #373431;                 
  padding: 22px 50px;             
  border-radius: 30px 30px 30px 0px; 
  font-size: 23px; /* 크기 약간 조정 */
  letter-spacing: -0.03em;
  line-height: 1.5;
  font-weight: 500;
  width: fit-content;            
  box-shadow: 2px 4px 12px rgba(0,0,0,0.08);
}
.bubble::after {
  content: "";
  position: absolute; 
  width: 100%;
  height: 100%;
  border: 1px solid #000000; 
  border-radius: 30px 30px 30px 0px; 
  top: -6px;
  left: 8px;
}

@media (max-height: 500px) {
  .container { height: 140px; }
  .charImg { width: 180px; }
}