/* .exh-top-controls -> .container */
.container {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 30px auto 10px auto;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
}

/* .control-btn -> .button */
.button {
  background-color: #EDE6DD;
  border: 1px solid #8F8784;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 24px;
  font-weight: 300;
  color: #373431;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 101;
}
.button:hover {
  background-color: #373431;
  color: #EDE6DD;
}

@media (max-height: 800px) {
  .container {
    margin: 25px auto 5px auto;
  }
  .button {transform: scale(0.9);}
}
