.container {
  position: relative;
  left: 0;
  width: 100%;
  height: 270px;
  background-color: #373431;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 배경 스타일 옵션들 */
.bgWhite { background-color: rgb(255, 248, 219); width: 40px; height: 40px; display: inline-block; }
.bgPink { background-color: rgb(255, 216, 223); width: 40px; height: 40px; display: inline-block; }
.bgOrange { background-color: rgb(255, 218, 148); width: 40px; height: 40px; display: inline-block; }
.bgPattern { background-image: url('pattern1.png'); width: 40px; height: 40px; display: inline-block; background-size: cover; }


.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: #FFFFFF;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.label {
  font-weight: 600;
  color: #FFFFFF;
}

.options button,
.colorOptions button {
  margin-right: 8px;
  cursor: pointer;
}

.colorOptions button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
}

.confirmButton {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  font-size: 20px;
}

